
// purple shades

$purple-100: #FACCFF;
$purple-300: #DCB0FF;
$purple-400: #BE93FD;
$purple-500: #A178DF;
$purple-700: #845EC2;
$purple-900: #2D2042;

// grays
$gray-dark: #4B4453;
$gray-light:  #B0A8B9;

// white
$white-main: #FCF7FF;
$white-text: #ECE1F2;
$white-alt: #EFE7F0;

// dark
$dark-main: #0C0810;
$dark-main-rgba: 12,8,16;




$out-link: rgba(76, 172, 201, 0.9);

// page change theme transition

$theme-transition: background-color 200ms, color 500ms ease-in-out;
